/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary: #1a73e8;
$primary-hover: #1a73e82f;
$primary-light: #e8f0fe;
$primary-dark: #004cbf;

$accent: #ea4335;
$accent-light: #fce8e6;
$accent-dark: #c23321;

$warn: #fbbc05;
$warn-light: #fff4e7;
$warn-dark: #d99b04;

